*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
.container{
    margin: auto;
    padding-left: 25px;
    padding-left: 25px;
}
.row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;

}
.col-2{
    width: 50%;
    padding: 20px;
}
.col-2 img{
    justify-content: center;
    align-items: center;
    padding: 20px;
}
.col-2 h1{
    margin: 20px 0px;
}
.total{
    align-items: center;
}